<%-include('partials/head.ejs')%>
<%-include('partials/navbar.ejs')%>

<div class="bg">

    <div class="container">
        <div class="centerize">
            <div class="card">
                <div class="card-header">
            <nav>
                <div class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-plane"></i> Flights</a>
                    <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fas fa-car"></i> Rental car</a>
                    <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"><i class="fas fa-hotel"></i> Hotel</a>
                </div>
            </nav>
                </div>
                <div class="card-body">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                    <form>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label>For:</label>
                                <input class="form-control" type="text">
                            </div>

                            <div class="col-md-6">
                                <label>To:</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>

                        <button class="btn btn-success">Submit</button>

                    </form>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                 <form>
                     <div class="row">
                         <div class="col-md-6"></div>
                         <div class="col-md-3">
                             <small>Pick-up date</small>
                         </div>
                         <div class="col-md-3">
                             <small>Pick-up time</small>
                         </div>
                     </div>
                     <div class="form-group row">
                         <div class="col-md-6">
                             <input class="form-control" type="text" placeholder="Pick-up location" autocomplete="off">
                         </div>
                         <div class="col-md-3">

                             <input class="form-control" type="text">
                         </div>
                         <div class="col-md-3">
                             <input class="form-control" type="text">
                         </div>
                     </div>
                 </form>
                </div>

                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>

            </div>
                </div>
            </div>
        </div>

    </div>

</div>



<%-include('partials/script.ejs')%>